{{!-- <h2>Are you sure?</h2>

{{_id}}

<form action="/todos/{{_id}}/delete" method="post">
    <input type="submit" value="Back">
</form>

<form action="/todos/{{_id}}/delete" method="post">
    <input type="submit" value="Confirm">
</form> --}}